<div class="container">
  <header>
    <h1>מוטי מאמן כדורגל</h1>
    <nav>
      <ul>
        <li><a href="#about">עלי</a></li>
        <li><a href="#services">האימונים שאני מעביר</a></li>
        <li><a href="#testimonials">המלצות</a></li>
        <li><a href="#contact">צור קשר</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <h2>תתאמן כמו מקצוען</h2>
    <p>גלה את הפוטנציאל שלך עם אימון כדורגל מותאם אישית.</p>
  </section>

  <section id="about">
    <h2>עלי</h2>
    <p>אני שחקן ומאמן כדורגל מקצועי מעל 10 שנים  </p>
  </section>

  <section id="services">
    <h2>האימונים שאני מעביר</h2>
    <ul>
      <li>אימון אחד על אחד</li>
      <li>מפגשי אימון קבוצתיים</li>
      <li>ניתוח וידאו במהלך המשחק</li>
      <li>תוכניות כושר ותזונה</li>
    </ul>
  </section>

  <section id="testimonials">
    <h2>המלצות</h2>
    <p>"שיטות האימון של מוטי הן מהשורה הראשונה! ראיתי שיפור משמעותי במשחק שלי". - הספורטאי א</p>
    <p>"ההחלטה הכי טובה שעשיתי הייתה להתאמן עם מוטי. ממליץ בחום!" - אתלט ב</p>
  </section>

  <section id="contact">
    <h2>צור קשר</h2>
   <p style="direction: rtl;" >מייל: moti&#64;gmail.com</p>
   <p>פלאפון: 0548039430</p>
  </section>

  <footer>
    <p>&copy; 2024 John Doe Football Training. All rights reserved.</p>
  </footer>
</div>
